
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.deps.json
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.dll
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.pdb
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.runtimeconfig.dev.json
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.runtimeconfig.json
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.Views.dll
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/AVK.Web.Views.pdb
R1.0.0/AVK.Retail/AVK.Web/bin/Debug/netcoreapp2.1/DAL.pdb
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.AssemblyInfo.cs
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.AssemblyInfoInputs.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.assets.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.csproj.CopyComplete
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.csproj.CoreCompileInputs.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.csproj.FileListAbsolute.txt
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.csprojAssemblyReference.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.dll
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.pdb
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.RazorAssemblyInfo.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.RazorAssemblyInfo.cs
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.RazorCoreGenerate.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.RazorTargetAssemblyInfo.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.RazorTargetAssemblyInfo.cs
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.TagHelpers.input.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.TagHelpers.output.cache
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.Views.dll
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/AVK.Web.Views.pdb
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/Razor/Pages/_ViewImports.g.cshtml.cs
R1.0.0/AVK.Retail/AVK.Web/obj/Debug/netcoreapp2.1/Razor/Pages/Error.g.cshtml.cs
R1.0.0/AVK.Retail/DAL/bin/Debug/netstandard2.0/DAL.deps.json
R1.0.0/AVK.Retail/DAL/bin/Debug/netstandard2.0/DAL.dll
R1.0.0/AVK.Retail/DAL/bin/Debug/netstandard2.0/DAL.pdb
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.AssemblyInfo.cs
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.AssemblyInfoInputs.cache
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.assets.cache
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.csproj.CoreCompileInputs.cache
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.csproj.FileListAbsolute.txt
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.csprojAssemblyReference.cache
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.dll
R1.0.0/AVK.Retail/DAL/obj/Debug/netstandard2.0/DAL.pdb
